[submodule "vim/pack/plugins/start/lightline.vim"]
	path = vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/colorschemes/start/vim-hybrid"]
	path = vim/pack/colorschemes/start/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "vim/pack/colorschemes/start/vim-one"]
	path = vim/pack/colorschemes/start/vim-one
	url = https://github.com/rakr/vim-one
[submodule "vim/pack/plugins/start/ctrlp.vim"]
	path = vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
